body,
html,
#root {
    height: 100%;
}

html,
#root {
    overflow-x: hidden;
}

div::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
